
.obsidian/workspace.json

# to exclude Obsidian workspace settings (including plugin and hotkey configurations)
.obsidian/*

# OR only to exclude workspace cache
.obsidian/workspace/*

# Exclude plugins
.obsidian/plugins/*

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store

# This file is used to keep track of last auto backup/pull
.obsidian-git-data

# Exclude Untitled Notes
Untitled*
# Exclude "bad" names
null*

